// app global css in SCSS form

// Scroll bar
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #0b917f;
}
::-webkit-scrollbar-thumb:hover {
  background: #0d8676;
}

.cta {
  background: #53e6cc;
}

// Link styles
a {
  &:hover {
    text-decoration: none;
  }
}

// Transition
body {
  transition: 400ms;
}

// Heade title style
.header-title {
  font-weight: 900;
  cursor: pointer;
  font-size: x-large;
  text-decoration: none;
}

// The text on the "About me" section and the tabs layout
.about-text {
  font-size: large;
}

.q-card {
  border-radius: 16px;
}

/** Dark mode classes */
body.body--dark {
  background-color: #032e28;

  @supports (backdrop-filter: none) {
    .q-header {
      background-color: rgba(3, 46, 40, 0.7);
      backdrop-filter: blur(7px);
    }
  }

  @supports not (backdrop-filter: none) {
    .q-header {
      background-color: rgb(3, 46, 40);
    }
  }

  .header-title {
    color: #fff;
  }

  a {
    color: white;
  }
}

/** Light mode classes */
body.body--light {
  color: #0f3f35;
  background-color: #53e6cc;

  @supports (backdrop-filter: none) {
    .q-header {
      background-color: rgba(83, 230, 203, 0.7);
      backdrop-filter: blur(7px);
    }
  }

  @supports not (backdrop-filter: none) {
    .q-header {
      background-color: rgb(83, 230, 203);
    }
  }

  .q-card {
    background-color: #89dbcc;
  }

  .header-title {
    color: #000;
  }

  .q-tab-panel {
    background-color: #89dbcc;
  }

  a {
    color: black;
  }
}
// To made the header transparent
.header {
  background-color: transparent;
}

// Custom font face - Architects Daughter
@font-face {
  font-family: archDau;
  src: url(./fonts/ArchDau.ttf);
}

.archDau {
  font-family: "archDau";
}

// Custom font face - Pacifico
@font-face {
  font-family: oswald;
  src: url(./fonts/Oswald.ttf);
}

.oswald {
  font-family: "oswald";
}
